name: Ruff Lint

on: [push, pull_request]

jobs:
  ruff:
    name: ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Install ruff
        run: pip install --upgrade ruff
      - name: Run ruff
        run: |
          ruff check djangocms_text_ckeditor5
